
.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover ._3Rb_j3lgHaVVIud4Gla7_m, .gpfocus>.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5 ._3Rb_j3lgHaVVIud4Gla7_m {
    background-color: rgba(17, 0, 43, 0.793);
}
.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5:hover ._3Rb_j3lgHaVVIud4Gla7_m ._1vIlyxb5BAwKPUkOfO94qZ, .gpfocus>.B-vCdL38RiJlhfSRgZv78._278jFDApipeB4kFsi44_F5 ._3Rb_j3lgHaVVIud4Gla7_m ._1vIlyxb5BAwKPUkOfO94qZ {
    filter: blur(0);
    color: #ffc5ff;
    transform: scale(1);
}
._3cV3O8FnPQqpJO5kIMUlLX{
    color: #dbdfff;
}

._3Z7VQ1IMk4E3HsHvrkLNgo{
  background:linear-gradient(to bottom, #040012 0%, #030010 30%);
  padding-bottom: .3em;
}
.RGNMWtyj73_-WdhflrmuY ._2CmrnGY-Amtd83ScJkFvx2{
 display: none;
}
._17uEBe5Ri8TMsnfELvs8-N {
    background-image: linear-gradient(to top, #040014 0%, #040009 80%);
}
._3Sb2o_mQ30IDRh0C72QUUu {
    background-image: linear-gradient(to bottom, #040014 0%, #04000b 20%);
}
.WYgDg9NyCcMIVuMyZ_NBC{
    border-radius: .55em;
}
._3x1HklzyDs4TEjACrRO2tB {
    background-image: linear-gradient(to bottom, #040012 0%, #030010 30%);
}
._276E6ijBpjMA2_iTxNhhjc{
    background-color: rgb(28, 21, 62);
    width: .1px!important;
    min-width: 1px;
}
._2sYIghGVXJr6tsQVvcryy8
 {
    box-sizing: border-box;
    color: #707379;
    height: 100%;
    border: 1px solid rgba(29, 32, 37, 0);
    background: linear-gradient(to right, #210e3e 40%, rgba(63, 24, 79, 0) 100%);
}
._2sYIghGVXJr6tsQVvcryy8:hover {
    background: #422d78;
}





._1J21tLst5SEhBPkVRT53UV div {
    background: linear-gradient(to bottom, rgba(109, 61, 167, 0.922) 0, #ffbcfdce 100%);
    color: black;
    font-weight: 500;
}
._3vCzSrrXZzZjVJFZNg9SGu{
    background: linear-gradient(to bottom, #040012 0%, #030010 30%);
    border-style:solid none none none ;
    border-color: rgb(28, 21, 62);
    border-width: 2px;
    box-shadow: none;
}
._20QAC4WMXm8qFE8waUT5oo{
    background-color: #18083d87;
    
}
._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase {
    border-bottom: none;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC {
   background-color: #18083d87;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC:hover
,._20QAC4WMXm8qFE8waUT5oo ._12vo5L1hsNGdao6_ssuirS .DialogTextInputBase:hover
,._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._31r1_h2SmzwQtP9ZLLyA0I, ._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:not(._1Gjk27xaRIzt2zOSwOSP0N):hover {
    background-color: #443277;
}
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._31r1_h2SmzwQtP9ZLLyA0I ._1TxHdzOt3OD9ikR3xIseKe svg path, ._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU:not(._1Gjk27xaRIzt2zOSwOSP0N):hover ._1TxHdzOt3OD9ikR3xIseKe svg path{
    fill: rgb(255, 192, 233);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq:hover svg {
    fill: #000000;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6:hover svg path, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6:hover svg line, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6:hover svg polyline, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6:hover svg circle {
    stroke: #764b93;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6:hover svg {
    fill: #764b93;
}
._1LJqx_qFOC8199RBQO5kU8 {
    background-color: #0000;
       background-image: linear-gradient(to bottom, #b9a6ffcf , #f2bdffc2 );
    color: rgb(4, 0, 20);
    font-weight: 500;
    backdrop-filter: blur(.6em);
    transform: translateY(.3em);
}
.V7RuDNUxhxoBRaiGWbk3B ._3DJLGrqzoQ5vMDI_4VG502{
        gap: 24px 216px;
}
._2TKEazUUS3TlniZfpc8OOe {
    background-color: #080218;
    box-shadow: none;
}
._3pSPluBgf0NeR1kkCLWMhR ._1ooROmAgkhoBH_o65yl9dJ {
 
    flex: none;
    fill: rgb(252, 176, 255);
    -webkit-mask-image: linear-gradient(to right, rgba(255, 0, 0, 0) 30%, black 80%);
}
._3pSPluBgf0NeR1kkCLWMhR.eNLOx4LVceeMwRvTVWh3{
    background-color:#18083d87;
}
._31wTtQjCH2ZSKgMiMZLhAM svg
,._2YS0EBJmY2Rvs07zZ90UIJ svg
,._1kiZKVbDe-9Ikootk57kpA ._1tIg-QIrwMNtCm7NcYADyi
{
    filter: sepia(1) hue-rotate(230deg) saturate(2) brightness(1.2)!Important;
}




._2-O4ZG0KrnSrzISHBKctFQ:hover, ._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj,.B-vCdL38RiJlhfSRgZv78 ._3OSZu24hLN7YKjqGi7I2Xp  {
      background-color: #0000;
       background-image: linear-gradient(to bottom, #ae9bf3 , #e9aef8 );
    color: rgb(4, 0, 20)!important;
    font-weight: 500;
    backdrop-filter: blur(.6em);
}
._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph:hover, ._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph._3cMVyOc-9F9Jvp3uKF7_xj {
    color: #000000;
}
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ {
    box-sizing: border-box;
    background-color: #ffffff00;
    background-image: linear-gradient(to bottom, #baa7ff , #f0b5ff );
    box-shadow: 0 0px 2px 0px #0005, 0 0px 16px 0px #0004;
    color: black;
}

._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ:hover, ._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ:hover, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ._3cMVyOc-9F9Jvp3uKF7_xj, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ :hover 
,.N8aJrSpxQ6II4CY_aFdYI{
    background-color: #586f9600;
   background-image: linear-gradient(to bottom, #baa7ff , #f0b5ff );
   filter: saturate(1.1);
  
   color: black;
}
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ :hover{
        background-color: #586f9600;
   background-image: linear-gradient(to bottom, #baa7ff , #f0b5ff );
    color: rgba(0, 0, 0, 0.629);
     filter: saturate(1.1);
}

._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._2ws8DONH9fxQjPXEmRpujE {
    color: #000000;
    font-weight: 500;
}
._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._5YTBr7WwIfzVU_3nUtAph, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph {
    color: #0000008d;
     font-weight: 500;
}
._3_xMyCJAh_Dv99KgZ54P3j,._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer .DialogDropDown_CurrentDisplay , ._1tBzypb5E2AwNuBuVns9Hl ._DialogInputContainer .DialogDropDown_Arrow{
    background-color: #ac83ff1d;
}
._3_xMyCJAh_Dv99KgZ54P3j:hover{
     background-color: #8d66dc20;
}
._3pSPluBgf0NeR1kkCLWMhR, .uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow{
    background-color: #220e5087;
    border: none;
}
.nC-pL16iUnIRcaj1UVnwq ._2tyaVs9BpqcW068aaOrO56{
    background: rgb(232, 184, 255);
}
._5wILZhsLODVwGfcJ0hKmJ._1oEwirQksXfZ-3RWWslbAR
,.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp, .RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt
,._5wILZhsLODVwGfcJ0hKmJ {
    background-color: rgb(21, 13, 40);
}
._5wILZhsLODVwGfcJ0hKmJ._1oEwirQksXfZ-3RWWslbAR:hover
,.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp:not(._1QQWjaXmb1eTHZpeIhQA_5):hover
{
    background-color: rgb(65, 44, 109);
}
._5wILZhsLODVwGfcJ0hKmJ:hover{
    background-color: #54319a;
}
.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp:not(._1QQWjaXmb1eTHZpeIhQA_5):hover, .RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt:not(._1QQWjaXmb1eTHZpeIhQA_5):hover {
    background-color: #54319a;

}

.RtSv39ZoBOySnb8XQ5hJf._3L1c8C0o_xXzPy26aoLBFd {
    background-color: rgb(209, 139, 255);
}
.RtSv39ZoBOySnb8XQ5hJf._3L1c8C0o_xXzPy26aoLBFd:not(._1QQWjaXmb1eTHZpeIhQA_5):hover{
    background-color: rgb(234, 180, 255);
}


._3pSPluBgf0NeR1kkCLWMhR:hover{
    background-color: #443277;
}
._3pSPluBgf0NeR1kkCLWMhR:hover ._2tyaVs9BpqcW068aaOrO56{
    background-color: rgb(255, 179, 252);
}

._2-O4ZG0KrnSrzISHBKctFQ._2ws8DONH9fxQjPXEmRpujE,._1Gu1U2_kcg3AWLrXQgX5S6 div.DVBcpUzJ0x6kaRMfug0OJ{
    color: rgb(228, 228, 255);
}
._2-O4ZG0KrnSrzISHBKctFQ._5YTBr7WwIfzVU_3nUtAph{
     color: rgba(222, 222, 255, 0.611);
}
._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k{
     color: rgb(254, 212, 255);
}
._2-O4ZG0KrnSrzISHBKctFQ ._1vO6BoiVslZgs1kqDGdUs8 ._3uk3F1BmAJQR6rl1TPcaif{
    color: rgb(146, 107, 173);
}
._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._1LVQp3h_vGOZ8TuDUEge0k, ._1UBpAXP408Ez_L_mXhW5Q9 ._2-O4ZG0KrnSrzISHBKctFQ._1LVQp3h_vGOZ8TuDUEge0k{
    color: black;
    font-weight: 500;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg path, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg line, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg polyline, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1QFFkxM5hw-43miIiylbwq svg circle {
    stroke: #f9b9ff;
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg path, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg line, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg polyline, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg circle

 {
    stroke: rgb(77, 50, 110);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6 svg {
    fill: rgb(77, 50, 110);
}
.ip-YZhijAMZcuRoXBGiye ._1KrJ3sFAqPBN9mfpaNTU5F
,._2foCkpRXhqq0UGVE50BWqj ._1KrJ3sFAqPBN9mfpaNTU5F, ._1TdaAqMFadi0UTqilrkelR ._1KrJ3sFAqPBN9mfpaNTU5F {
    color: rgb(77, 50, 110);
}
 div._2foCkpRXhqq0UGVE50BWqj > div._3OhUxFVlQYr9W5ThxstR8k
 ,  div._2EQ7ghgqIdjKv9jsQC0Zq9 > div > div._3wJnTtcTLEp0R7eQj_mK8Y
 , div._3vCzSrrXZzZjVJFZNg9SGu > div._1TdaAqMFadi0UTqilrkelR > div._3OhUxFVlQYr9W5ThxstR8k{
    color: rgb(135, 106, 179);
}
::-webkit-scrollbar-thumb {
    width: 4px;
    min-height: 32px;
    z-index: 12;
    background-image: none;
    background-color: rgba(236, 169, 255, 0.704);
    background-clip: padding-box;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 10px;
    transition: background-color 0.32s ease-in-out 0s;
}
._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ {
    color: rgb(255, 195, 251);
}
._7AlhCx3XGzBeIrQaCneUD._1gqEjB5QsKT_NftD1dEsdZ:not(._2cO0HdvLEGAdhosLekWsmo) ._19axKcqYRuaJ8vdYKYmtTQ::after{
    background: rgb(154, 128, 185);}

    ._2foCkpRXhqq0UGVE50BWqj:hover ._3OhUxFVlQYr9W5ThxstR8k
    ,._2foCkpRXhqq0UGVE50BWqj:hover ._1KrJ3sFAqPBN9mfpaNTU5F
    ,.ip-YZhijAMZcuRoXBGiye:hover ._1KrJ3sFAqPBN9mfpaNTU5F, .ip-YZhijAMZcuRoXBGiye:hover ._3wJnTtcTLEp0R7eQj_mK8Y
    ,._1TdaAqMFadi0UTqilrkelR:hover:not(._2Sdix9OOEHP6z_b4W2oaU9) ._3OhUxFVlQYr9W5ThxstR8k 
    ,._1TdaAqMFadi0UTqilrkelR:hover:not(._2Sdix9OOEHP6z_b4W2oaU9) ._1KrJ3sFAqPBN9mfpaNTU5F {
    color: #f4c0ff;
}
._1J21tLst5SEhBPkVRT53UV div:hover{
    filter: brightness(.6);
    transition: 100ms;
}
._1J21tLst5SEhBPkVRT53UV div{
    transition: 200ms;
}
[class="_3yD46y5pd3zOGR7CzKs0mC online"]{
    background-color: rgb(23, 13, 48);
}
[class="_3yD46y5pd3zOGR7CzKs0mC online"]:hover{
    background-color: rgb(41, 28, 75);
}

._3yD46y5pd3zOGR7CzKs0mC.online
,._29bW1yCn25VTm4bFameBaV
{
    color: rgb(252, 192, 255);
}
.online ._3xUpb5DWXPFNcHHIcv-9pe {
    background: linear-gradient(to bottom, #ea9dff 0%, #ed94ff 30%, #ed95ff 70%, #ffa7f5 100%);
}

[class="Arrow1"]{
    stroke: rgb(217, 160, 255);
}
._1eFe5VbyACJE4RVGpOWKMC svg
,._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU ._1TxHdzOt3OD9ikR3xIseKe svg path{
    fill: rgb(217, 160, 255);
    color: rgb(217, 160, 255);
}
._2o5c89vAnrXN8C60QTSMqO ._2hfibYuzyMOQ0sj2egsHh0{
    color: rgb(222, 222, 255);
}
._2rlKqvybYupc-uk64cdQ8D{
    color: rgb(188, 196, 255);
}
._7AlhCx3XGzBeIrQaCneUD ._19axKcqYRuaJ8vdYKYmtTQ {
    color: #e4deff;
}
._25lBLzuVeYAUG279up4xP8{
    color: rgb(154, 128, 185);
}
._25lBLzuVeYAUG279up4xP8._2cO0HdvLEGAdhosLekWsmo {
    color: rgba(86, 60, 117, 0.782);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC ._15aGnszAf3gHD-PFdJBoFD polygon {
    fill: rgb(154, 128, 185);
}
._2UyOBeiSdBayaFdRa39N2O
,._3LKQ3S_yqrebeNLF6aeiog,._3lRfTo8Wo3phXfE1DvK6QW
,._5wILZhsLODVwGfcJ0hKmJ,.RtSv39ZoBOySnb8XQ5hJf._9YK5IY219Pm_F53DAxyYp ._34bQcTHo5QKzuujoEyU1tm, .RtSv39ZoBOySnb8XQ5hJf._3qhGkQ5qLVNQQ-J2-uPoHt ._34bQcTHo5QKzuujoEyU1tm

{
    color: rgb(154, 128, 185);
}
.DesktopUI .title-area-icon.minimizeButton svg, .friendsui-container .title-area-icon.minimizeButton svg
,.title-area-icon .SVGIcon_Maximize{
    color: rgb(207, 207, 255);
}
.title-area-icon .SVGIcon_X_Line line {
    stroke: #dbdfff;
    
}
#popup_target > div > div._1ENHEsrSLcTRtPQFl1F-wL.Maximized._1DvwQt0JN-Ogp_4tVZdkzX > div._3mz8wQ6Q44B8P7pzPP4Iyw > div._3Z7VQ1IMk4E3HsHvrkLNgo > div._39oUCO1OuizVPwcnnv88no > div.qP17eBPXkfezFfexZ4hC3 > div > div.title-bar-actions.window-controls > div.title-area-icon.restoreButton.windowControlButton > div{
     stroke: #dbdfff;
      color: rgb(207, 207, 255);
}
._25YVDTaClw6Y2COPsU0UaV,._3ns9185LizH61StaAXuAp6{
    background-color: #382b6c;
}
._2-O4ZG0KrnSrzISHBKctFQ.cMb2tLY-QjdRohM5U6Btp{
    color: rgb(86, 68, 148);
    font-weight: 500;
}














._2OOzYVWIHaKXm6_7sscT9i .Jbe--NUNw7sxbxGsMSjVa {
    box-sizing: border-box;
    display: block;
    height: 450px;
    width: 100%;
    backdrop-filter: blur(8px);
    background: linear-gradient(to bottom,
     rgb(6, 0, 25) 0%, rgba(8, 0, 19, 0.779) 82px,
     rgba(4, 0, 26, 0.741) 80%, rgba(12, 0, 32, 0) 100%);
    z-index: 0;

}
._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz ,._1YbtIWcfkQJOysLXQbwzRf ._1mDAVT4sTzFRwJtlKCw2Ws{
    background:none;
    box-shadow: none;

}

._2Dd4T78PcCTUVgOtDGFY5j{
    background: rgb(4, 0, 18);
}
._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9{
    background: rgba(4, 0, 16, 0.75);
}
._1HZy7BvOZuPT8feUwadL4W
,._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t
,._1ul9ZRBfhF0vyj-hrit6nU
,.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT
 {
    background: radial-gradient(100% 80% at 64% 95%,
     rgba(32, 12, 66, 0.3) 0%, 
    rgba(37, 12, 63, 0.5) 20%,
     rgba(27, 10, 60, 0.5) 100%);
   border: none;
      transition: 200ms;
}
._1HZy7BvOZuPT8feUwadL4W:hover {
     background: radial-gradient(100% 80% at 64% 95%,
     rgba(32, 12, 66, 0.3) 0%, 
    rgba(37, 12, 63, 0.5) 20%,
     rgba(27, 10, 60, 0.5) 100%);
   border: none;
   filter: brightness(1.16);
   transition: 500ms;
}

._1AYE16384J_ecLpN0sEYc5 {
    border: none;
    box-shadow: 0px 0px 2em #d88bff0a;
    background:none;
}
._39RheXihcN6H2k2muQTjkI ._3DeO92O5aVkcdwEBCJDjWm{
    background-color: rgba(28, 0, 52, 0.685);
}
._38t1mljBjmJfqjpVzMT1CG {
    background: linear-gradient(to right, #14092b 0%, #170931 95%);
    
}
._2lNdDLgjQdeBXmMlPO8lvq {
   
    background: radial-gradient(circle at 0% 20%, rgba(162, 94, 194, 0.15) 0%, rgba(34, 34, 39, 0) 20%), 
    linear-gradient(to bottom, rgba(248, 169, 255, 0.95) 0%,
     rgba(35, 28, 65, 0.55) 2px, rgba(28, 15, 58, 0.15) 50%, rgba(25, 11, 46, 0) 100%);
    color: #cdf1ff;

}
.UVeN0kaD3zv1feMj_mMw5 ._1WdC0YUP8FT0dYWZ-QIVZL {
    background: linear-gradient(to right, #7925ff 0%, #8019ff80 18%, #451387 50%, #630abc81 100%);

    color: #eee2ff;
   
}
.UVeN0kaD3zv1feMj_mMw5._3xi-HLpFVHaakihoqhQ_6C {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #8543ff 0%, #4b19ff80 18px, #601387 50%, #8419ff81 100%);
    border-image-width: 1px;
    border-image-repeat: stretch;
    border-image-slice: 7;
    box-shadow: 0 0 12px #000000ac;
    padding: 0px;
    box-sizing: content-box;
    background: linear-gradient(to right, #6d19ff 0%, #8019ff80 25%, #451387 50%, #8819ff81 100%);
    margin-top: -4px;
}
._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X {
  
    background: rgba(29, 20, 50, 0.75);

    color: #b1b0b0;
  
}
._2aVnDeExEHiUFX0zwr_BTO{
    background-color: #382b6c;
}
._3qDWQGB0rtwM3qpXTb11Q-._21hXW2oDD7zvNsoOaW7Yob._2WaHZuAetbqENmqDthu3nl svg path {
 
    stroke: #f1b4ff;
    fill: #f1b4ff;
}




@keyframes rotate-gradient {
    from {
        --rotate: 0deg;
    }
    to {
        --rotate: 360deg;
    }

}
@keyframes buttongradient2 {
    0% {
        background-position: 0% 0%;
    }
    .004% {
        background-position: 0% 0%;
    }
    .05% {
        background-position: 98% 98%;
    }
    100% {
        background-position: 100% 100%;
    }
}
._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX
,.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Play
,._3cI5TXsFX3bvpR-7EBOtxq > ._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi
  {
    background: none;
       background-image: linear-gradient(var(--rotate),#d978ff,#dd81fb,#f08eff,#ff92fd,rgb(255, 167, 254),#ffb8f2
    );
    border: 0;
    background-size: 220% 220%;
    animation: rotate-gradient 19s cubic-bezier(.29,.44,.67,.56) infinite;
   
}
._1n7Wloe5jZ6fSuvV18NNWI .SVGIcon_Button{
    filter: brightness(0);
}
._2AzIX5kl9k6JnxLfR5H4kX
,._2AzIX5kl9k6JnxLfR5H4kX._2q-gZ3XJzlvSGHSF-GvSmi
,.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Install {
      background: none;
       background-image: linear-gradient(var(--rotate),rgb(156, 170, 251),rgb(171, 187, 255),rgb(173, 191, 255)
    ,rgb(175, 194, 255),rgb(176, 201, 255),rgb(183, 211, 255)
    );

    border: 0;
    background-size: 220% 220%;
    animation: rotate-gradient 19s cubic-bezier(.29,.44,.67,.56) infinite;
    transition: 150ms!important;
    transition-timing-function: cubic-bezier(.18,.64,1,.45);
}
:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._2AzIX5kl9k6JnxLfR5H4kX:hover{
    
    background: linear-gradient(170deg,
                                #10073100,#10073100,
                                #10073100,#10073100,

                                #b4deff4f, #b4b7f5a5,
                                #a9b5f0, rgb(189, 205, 255),
                                #c4d2ff

    );
    background-size: 340% 340%;
    animation: buttongradient2 360s cubic-bezier(.24,.48,.67,.56) ;
    animation-iteration-count: 1;
    box-shadow: 0 0 15px #b5d0ff51;
    transition: 900ms!important;
    transition-timing-function: cubic-bezier(.73,.51,0,1);
}

 ._3ydigb6zZAjJ0JCDgHwSYA ._33cnXIqTRgRr49_FNXIHj6 {
        color: rgba(19, 0, 49, 0.865);
        font-weight: 600;
    }

    ._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX svg {
        fill:rgba(255, 254, 254, 0.623);
    }
:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX:hover svg {
    fill: rgb(2, 0, 12);
}
:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX:hover
,.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Play:hover{
    background: linear-gradient(170deg,
                                #100731a5,#100731a5,
                                #100731a5,#100731a5,

                                #2c0d47a5, #de86d3a5,
                                #f79cffe6, rgb(255, 167, 254),
                                #ffb8f2

    );
    background-size: 340% 340%;
    animation: buttongradient2 360s cubic-bezier(.24,.48,.67,.56) ;
    animation-iteration-count: 1;
    box-shadow: 0 0 15px #ffb5fa51;
     filter: brightness(1.1);

    transition: 300ms!important;
}

:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._2AzIX5kl9k6JnxLfR5H4kX:hover svg {
    color: #150021;
}
._5uvIN6jXDXzzck59F-nhv{
    background-color: rgba(7, 0, 29, 0);
}
._3-V8vjmrwuJM6Ws3tsjFJj>div{
    background: rgba(14, 1, 36, 0.552)!important;
    border-radius: .3em;
}
._3ns9185LizH61StaAXuAp6 ._3Rm36_oeAhvIg6ZYP9l1Jj
{
    background-color: none;
     background: none;
       background-image: linear-gradient(var(--rotate),#d978ff,#dd81fb,#f08eff,#ff92fd,rgb(255, 167, 254),#ffb8f2
    );
    border: 0;
    background-size: 220% 220%;
    animation: rotate-gradient 19s cubic-bezier(.29,.44,.67,.56) infinite;
   
}
[class="_2TYVGoD27ZMfjRirKQNLfk _2pGX3XXztz624QfCJElgkR"]{
._25YVDTaClw6Y2COPsU0UaV ._1FnTqlsi2_-TJf1d5apoS6{
 background-color: none;
     background: none;
       background-image: linear-gradient(var(--rotate),#ffeeba,rgb(255, 255, 205)
    );
    border: 0;
    background-size: 220% 220%;
    animation: rotate-gradient 19s cubic-bezier(.29,.44,.67,.56) infinite;
}

}
._25YVDTaClw6Y2COPsU0UaV ._1FnTqlsi2_-TJf1d5apoS6{
 background-color: none;
     background: none;
        background-image: linear-gradient(var(--rotate),#d978ff,#dd81fb,#f08eff,#ff92fd,rgb(255, 167, 254),#ffb8f2
    );
    border: 0;
    background-size: 220% 220%;
    animation: rotate-gradient 19s cubic-bezier(.29,.44,.67,.56) infinite;
}
._3qDWQGB0rtwM3qpXTb11Q-{
    background-color: rgba(13, 0, 44, 0.163);
}
._3qDWQGB0rtwM3qpXTb11Q-:hover{
    background-color: rgba(75, 55, 122, 0.409);
}
._1kiZKVbDe-9Ikootk57kpA .MbTRimZpGCATmn39ae8RT
,._3qDWQGB0rtwM3qpXTb11Q- svg{
    color: rgb(148, 124, 177);
    fill:rgb(148, 124, 177);
}
._3qDWQGB0rtwM3qpXTb11Q- svg circle{
         stroke: rgb(148, 124, 177);
}
._34lrt5-Fc3usZU6trA1P0-{
    color: rgba(207, 207, 255, 0.836);
}
._2TYVGoD27ZMfjRirKQNLfk, ._3pS8kMrtScuY1Qf-W8tmRV ._1nfJNsQjTOXSQQyFahGnRi {
      color: rgba(207, 207, 255, 0.588);
}
.LibriMVXcLl1HB60ZUp78 {
    background: radial-gradient(100% 80% at 64% 95%,
     rgba(27, 17, 66, 0.3) 0%,
     rgba(29, 8, 49, 0.5) 20%,
     rgba(66, 12, 68, 0.5) 100%);
  
}
._39Zk32AvV5cr6g-83IVRVS {
    border: none;

   
    box-shadow: 0 0 12px #000000ac;
   
    background: linear-gradient(to right, #199FFF00 0%, #6619ff80 18px, #451387 50%, #7119ff81 100%);
}
._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg polyline, ._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg path, ._1aKegVl9_lSdNAyWYZQlr9 ._1UXbBdCvbg9tyZhc4owO4W svg polyline, ._1aKegVl9_lSdNAyWYZQlr9 ._1UXbBdCvbg9tyZhc4owO4W svg path{
    stroke:rgba(53, 119, 169, 0.476);
   
    filter: none;
}
._1aKegVl9_lSdNAyWYZQlr9 ._1GZdosVXnfrf69yU8DWASl svg circle, ._1aKegVl9_lSdNAyWYZQlr9 ._1UXbBdCvbg9tyZhc4owO4W svg circle {
        stroke: rgba(53, 119, 169, 0.476);
   
    fill: rgba(53, 119, 169, 0.476);
   
}
._1kiZKVbDe-9Ikootk57kpA .k-QNT9kzOEOvG0U_kGmwr {
    color: rgba(53, 119, 169, 0.476);
}
.DesktopUI .PP7LM0Ow1K5qkR8WElLpt, ._3qIuY9S_vXm3IQS-uE9SRS .PP7LM0Ow1K5qkR8WElLpt
,._1ZpBQtDqcKBbfIIv01Vs1R>div.DesktopUI, .DesktopUI ._1ZpBQtDqcKBbfIIv01Vs1R>div {
    background: rgba(0, 128, 0, 0);
    background-color: #fff0;
    background-image: linear-gradient(var(--rotate), #a9cfffe3, #ffaefad6);
    animation: rotate-gradient 15s cubic-bezier(.33,.48,.63,.47) infinite;
    backdrop-filter: blur(.3em);
}
@property --rotate {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI{
    color: black;
}
[class="DialogMenuPosition _1ZpBQtDqcKBbfIIv01Vs1R visible ready _2yAm5LY_eu-Vg_52l0HFlM"]{
    background-color: black;
}


.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl.Install:hover{
      background: linear-gradient(170deg,
                                #10073100,#10073100,
                                #10073100,#10073100,

                                #b4deff4f, #b4b7f5a5,
                                #a9b5f0, rgb(189, 205, 255),
                                #c4d2ff

    );
    background-size: 340% 340%;
    animation: buttongradient2 360s cubic-bezier(.24,.48,.67,.56) ;
    animation-iteration-count: 1;
    box-shadow: 0 0 15px #b5d0ff51;
    transition: 900ms!important;
    transition-timing-function: cubic-bezier(.73,.51,0,1);
}



.DesktopUI .Z5iAXBkRFGnwpXsO8ANTl:hover {
    color: #5e14a9;
}
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI:hover, .DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI._18z-3vkWndCBO5WJgFldRK{
    background: rgb(161, 140, 235);
}

._3oMUSjOFNB0E9LWcL2sE7 {
    width: 22px;
    background: linear-gradient(to right, #d119ff00 0%, #9a2fff40 18px, #b565ff 18px, #e1a1ff 22px);
    position: absolute;
    top: -1px;
    bottom: -1px;
    inset-inline-start: -23px;
}
._3QRf-tp5VddAF00vWY5Gn8:hover {
    background: radial-gradient(100% 80% at 64% 95%,
     rgba(106, 0, 255, 0.3) 0%, rgba(70, 40, 98, 0.13)0%,
      rgba(15, 14, 47, 0.1) 100%);

}
.online .nOdcT-MoOaXGePXLyPe0H,
._2SAb6geDpe6toA1GaP0GjH ._2aeAnRfwltWfd9Hb9M_1uE .qX4kNo6O0M-mYntdErKSJ
,._1kCN0pAntrcGCSmcc-vYdk
 {
    color: #ddabff;
   
}
._2Jkk-4RGWzhce22lSnA9Em{
    fill: #ddabff;
}
._2sGn0cBsD44TjnUIh-lx9d{
    border-radius: .4em;
    background-color: #0c0021;
}
.Yts2cS2BIbHJoh5UorpDq{
    filter: brightness(.5)
}
/* ? scroll bar */
.library_Container_3xRRJ *::-webkit-scrollbar-corner,
.library_LibraryContextMenu_1UOkn::-webkit-scrollbar-corner {
display: none;
}

.libraryhome_Container_2gSXC {
  background: rgb(7, 0, 27);
}

._1GdR5LbENV7LOGROJBxohI._1GdR5LbENV7LOGROJBxohI.DialogButton:enabled {
background: rgba(105, 52, 154, 0.273);}
._1GdR5LbENV7LOGROJBxohI._1GdR5LbENV7LOGROJBxohI.DialogButton:enabled:hover {
background: rgba(143, 73, 208, 0.392);}

._2SAb6geDpe6toA1G,._3LE-6w1ItIAB4CKJFCa3Od,._2SAb6geDpe6toA1GaP0GjH{
    background-color: #120530;
  
}
._1kCN0pAntrcGCSmcc-vYdk{
    background-color: rgb(41, 24, 90);
}
._1kCN0pAntrcGCSmcc-vYdk:not(.Z3L6KGVxi4ZjGUzbYUjBC):hover {
background: linear-gradient(-60deg, #65419b 5%, #e467f5 95%);
}













._1bq4x9pa4-9RLY-dXWUZTp {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 1;
    background: radial-gradient(at 0px 0px, rgb(17, 0, 37) 0%, rgb(3, 0, 22) 90%);
}
._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg{
   backdrop-filter: blur(6em) brightness(1.5) saturate(1.5);
background-color: #04000f;
    background: linear-gradient(var(--rotate), #8b57a441,#56397242,#5a3c874b, #4a459848, #30297b48
    ,#74358c4c, #793d9447,#6f3a8d41, #47397948, #463f8e4a, #47337244);
    background-size: 300% 300%;
    animation: rotate-gradient 300s cubic-bezier(.29,.44,.67,.56) infinite;
}
._3mZ2rKd2RECK4q4ufmsDYX ._3WauYi7bNDSGIogMLPVYES ._2NqL3nV35eJFAu56_Yu-WM img
{
    filter: brightness(.3) saturate(.7)
}

._3mZ2rKd2RECK4q4ufmsDYX.pHDI1ddoKXceD5KL7W-4z {
    opacity: 0.3;
    mask-image: radial-gradient(circle at 0% center, rgb(14, 20, 27) 30%, rgba(14, 20, 27, 0) 90%);
    width: 50%;
    background: linear-gradient(to right, rgba(33, 4, 67, 0.234) 0%, rgb(0, 0, 0) 100%);
}
._3Mbhnlk1Go2j8yCdjthzc7.IbePLaw-vSvhG1GTenYFg._2KB3yVOsiRCK9qK6mwKl9c{
        background-color: rgb(1, 0, 7);
}
._1BxZDLT8KveuJzn-1q4NTP .gpPxCvNVctmdxo8yfyEAJ,._1BxZDLT8KveuJzn-1q4NTP .OS07NfYlp6v-Eh5oQ7dwn
,.Ayu--dDVVaKmP2gNYPAQ0 ._33jqEbo2sBXJZ08w9BkdEM svg

 {

    color: rgba(210, 167, 255, 0.615);
   
}

[class="_1SyggnJY6qbRSmbZpkK3-H"]{
    ._25YVDTaClw6Y2COPsU0UaV ._1FnTqlsi2_-TJf1d5apoS6 {
    background-color: none;
    background: none;
    background-image: linear-gradient(var(--rotate), rgb(255, 242, 176), rgb(255, 247, 204));
    border: 0;
    background-size: 220% 220%;
    animation: rotate-gradient 19s cubic-bezier(.29, .44, .67, .56) infinite;
}
}


._1BxZDLT8KveuJzn-1q4NTP ._3H2JWLH8rucdSC1XVZ7Xdk
,  .Ayu--dDVVaKmP2gNYPAQ0 ._1QHr4A7EN2DgQfJIdu3rTh
 {
    stroke: rgb(255, 239, 161);
    background-color:   rgb(255, 239, 161);
 }
 ._3szjUMH5QeRwtXAsLRcWt9,
 ._1SyggnJY6qbRSmbZpkK3-H ._1vMU1vG5ZtLihr3mfXUymR 
{
    background-color: rgba(157, 133, 255, 0.337);
}
 ._3szjUMH5QeRwtXAsLRcWt9._3DjdoQj5NoknowwV5t5JPN::after {
    background-color: rgb(254, 255, 208);
 }
 .ip-YZhijAMZcuRoXBGiye ._1sCy-pm412Smb0wJx0W-4{
    color: rgb(95, 78, 132);
 }
 ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:enabled, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:active, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:hover, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC:enabled:active:hover, ._3Tfp8-wTAttW3WVa_X9JVC._3Tfp8-wTAttW3WVa_X9JVC.DialogButton:enabled
,
._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:enabled, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:active, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:hover, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi:enabled:active:hover, ._1VNuYHM6BPBOJspC6zPf5r ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled
{
    background:  rgb(28, 13, 78)  ;
  
}
._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled
{
        background: linear-gradient(314.13deg, rgb(18, 8, 54) -22.81%, rgb(31, 5, 76) 119.67%) 25% center / 330% 100%;
}
._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled:hover, ._1VNuYHM6BPBOJspC6zPf5r.IbePLaw-vSvhG1GTenYFg ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled:focus {
    color: rgb(255, 255, 255);
     background: linear-gradient(314.13deg, rgb(41, 24, 92) -22.81%, rgb(30, 13, 80) 119.67%) 25% center / 330% 100%;
    background-position: 0% center;
}
._1VNuYHM6BPBOJspC6zPf5r:hover, ._1VNuYHM6BPBOJspC6zPf5r._3-SbBb63lDnu6LzKV-q3Cg {
    background-color: rgb(42, 23, 75);
    border-radius: 2px;
}
._1VNuYHM6BPBOJspC6zPf5r:hover ._3oavRVhIS9tC3vBsFT4Ggi.DialogButton:enabled {
    background: rgb(67, 53, 144);
}
._3kXEpnxa2qb5znYMSbKT0p,
._3bWTO29arCCJ6PBGRZ7fRy ._2WwG2r8yZuu2EMJgFTQZp8 .Udzrpqr8534T5DvVZveNP 
,.Sf3urgalDvD2sZqNjEV9i,._3csl-MPe-hKuT8hQpOqEG5, .QQy4BCjcpjCfAvTKAqBq3
,.QQy4BCjcpjCfAvTKAqBq3 > svg,.A_A2B6fTn_MPLlGCmsLtd a:not(.LinkButton, .WidgetTag)
{
    color: rgb(253, 192, 255);
    fill:rgb(253, 192, 255);
}
.sv3ZHPWbrD7yjwx5Mi3u5,.sv3ZHPWbrD7yjwx5Mi3u5 ._1dHjjSl-57o1KQsQ1m1HSA
,._1SyggnJY6qbRSmbZpkK3-H,._1SyggnJY6qbRSmbZpkK3-H ._2ns4wnmgr4XBzARpwn2NZ1 ._3WavcSX0NkHlBh5fICWKyB,._117rQTHH1RIewY7sSlvg3Z
,.Ayu--dDVVaKmP2gNYPAQ0 ._1iulCOMUxV6sBbqoKo_yXw,.qq2xItSXjpCsNrcxyPJtO ._1CGnw50aAma6AYKF51Qzsm
,body, body._2LxgdMcpWJRjkxZKbmeEEb
,._2sCvZTD6ZTZz3p9_ekH_gI ._1r3ouwFT2-tsTAcnXYZ6NU ._3nx-k9xXUVgejG1BIAc84r,._2LWo2qq9d-zuglW2VlM_Xu,._2LWo2qq9d-zuglW2VlM_Xu ._35T9nZ2RsVs8kf7OMPlaxe
,.Ru7OBQzSxqIo3jIsbtV9g,._1gljEIuhbsQpFCWuVhdKTJ,._1ujzuoxGhLunHZQqHAqRgg,button.DialogButton._3Cdin80d-hVsakHUZboheb
,._1Q2q_tQ9_Eq8YdEHNAHS3F,._3jC8om-5Sci_dkUB-6VYiU,._3QrX3TTEetJIRvEW1x2Af2 ._3ca2d1qaIzPNm79jqRbi0J,._1j_gja8bHXjiS-BeSQk8hb ._1s_9cSxUjb4609MSH0EjWH ._39Y01uSRcLiDg5DneTTR0m
,.S2Fu9HxHCA5MaCLGrN2ib ._19LfMT7PFWg2xHOqNjR99q,._3yTl3RiWfo-Itg-xp967wP ._39ZurKJQex6v69aXzvc_nj
{
    color: rgb(236, 235, 255);
}
._14kZVEyaz7WX57N47z4Yr1,._3ca11X3AK6npLS3emMa5Lr .uoFNFZ7Hs5cF1IjP2fvPw,._3QrX3TTEetJIRvEW1x2Af2 ._2PMlMbFfEmv1xThuy6Vgqv
,._2H1MiFt6wMYuJDB8kZElFs,._2_TE0KLOU7kWWxa9LS7iXA ._2_WwnsAHFIrNtqmPP5HSYz,._2_TE0KLOU7kWWxa9LS7iXA ._2QCkjbh7DpjfulLt-gMSxB
,._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X
,.BDa6lbTAdR4RwtqgRNUnO,.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ ._2sNDjgK9EWiPLdNGkjun-w,._1yWgPveQ73QeYCdLcs6oFQ ._3grvnr9zzkvx6NoBOdmTnf, ._1yWgPveQ73QeYCdLcs6oFQ ._2RkIcXHXACX4EdBluR3nAH, ._1yWgPveQ73QeYCdLcs6oFQ ._1S3Q9rK5wn6PAIXII0mBz4
,._2-kDc3UDR-GN6V1lBpSupb, ._3UShzJcf4CyVupLSI3kqfD
,.A6G1leLXs7Vqw45hoXg-l{
      color: rgba(236, 235, 255, 0.626);
}
._1yWgPveQ73QeYCdLcs6oFQ ._1OhPtd0sU2yzZwckCTGRNC svg, ._1yWgPveQ73QeYCdLcs6oFQ ._1OhPtd0sU2yzZwckCTGRNC path, ._1yWgPveQ73QeYCdLcs6oFQ ._1R6Oubrk1mRaGQf56EQwd4 svg, ._1yWgPveQ73QeYCdLcs6oFQ ._1R6Oubrk1mRaGQf56EQwd4 path, ._1yWgPveQ73QeYCdLcs6oFQ .QL3AayCY6oJkK95jwGibN svg, ._1yWgPveQ73QeYCdLcs6oFQ .QL3AayCY6oJkK95jwGibN path{
    fill:rgba(236, 235, 255, 0.626);
    color: rgba(236, 235, 255, 0.626);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._2PF_m-I5yte3WnQhpcz8RC,._3O48LaKWcabKx07xdrt1TH{
    color: rgb(212, 184, 235);
}


._2kzMb_F7UTOEdecAFftN-l svg.f6-7-5CWFxNqF2BycKWlb.f6-7-5CWFxNqF2BycKWlb.f6-7-5CWFxNqF2BycKWlb circle{
   stroke: rgb(255, 239, 161);
}
._3FmxxjyWNHU1PrBGnBe6tm._2l416KfEtI4CL0mCUEmOBw{
    background-image: none;
}
._2l416KfEtI4CL0mCUEmOBw
{
    background-color: rgb(4, 0, 13);
}
._1KsYSVzmvIfRivBTcx-_GE {
   
    background-color: rgba(4, 0, 8, 0.522);
    background-image: radial-gradient(at left top, rgba(38, 15, 76, 0.789), rgba(17, 0, 39, 0.761));
    box-shadow: rgb(0, 0, 0) 0px 0px 32px;
   border-radius: .8em;
}
._1_vCR1dPfyJ7_yukwDqblf
,._1t_97P9KMsEBaPq9y-6OUl
{
    background-color: rgba(140, 129, 197, 0.571);
    border: none;
    backdrop-filter: blur(.3em);
}
._1_vCR1dPfyJ7_yukwDqblf:hover
,._1t_97P9KMsEBaPq9y-6OUl:hover
{
    background-color: rgba(95, 81, 166, 0.792);
    border: none;
    backdrop-filter: blur(.3em);
}
._3Kelh1-_v6xHfRjF68n7NB, ._3ctGqQID5-8adtd7HlZ3YM, ._16xC0mtOWoLbvSQbmo_ycv
{
    background-color: rgba(9, 0, 33, 0.513);
    border-radius: .7em;
}
._1ABCOz8DSrl-YJdh1xD-m0._1dDpSuaJBGZzS41s0SPk4c{
    background: rgba(34, 24, 76, 0.716);
    border-radius: .5em;
}
._1ABCOz8DSrl-YJdh1xD-m0._1dDpSuaJBGZzS41s0SPk4c:hover{
    background: rgba(61, 48, 112, 0.716);
  
}
._3x31AgESSlUqX3D4MTHv2m ._1JlC29Ic6L-QvL-39X_d-X:focus
,._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 ._2JSyABqFEh-v_dwaTnBydR
,._3x31AgESSlUqX3D4MTHv2m ._37e7DrDNmf1FmsMGA5y0A0 button.bACIuqv-b_9TztCczFK19 {
    background: #2b1f3f;
}
.A_A2B6fTn_MPLlGCmsLtd
{
    color: rgb(230, 235, 255);
}
.TqEPC9bhvVpZ1rb3Z8Mbd{
    color: rgb(227, 207, 255);
    text-shadow: 0px 0px .1em #ffa8ee21;
    font-weight: 500;
}
._20f2sKS2M7PlPSnPCinT26{
    color: rgb(218, 195, 255);
}
._4LAnPYKRPeF-QDReu_VGm,.MBkkhT4wei3tWetnWbiqn{
    color:rgb(255, 240, 207)
}
._37MAYpIjl0IDA1xVhhsuX8 > div:not(._2WEP32t2FdvHSRBiOZug83):not(._24sm_rs0RtItOALHFVIKms):not(._19eb8NMS53lqZR33su0kTr):not(.iJ6kMinIXkRkY49NT2sOx):not(._2SoWN3laHiRo1XbmPyTyPF) {
    background-image: linear-gradient(120deg, #04001687, #08001b84);
}
._1KsYSVzmvIfRivBTcx-_GE{
    box-shadow: 0px 0px 1.7em rgba(173, 80, 255, 0.185)!important;
}








._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K{
    background: rgb(7, 1, 24);
}
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K ._3izqEKa-zuPIrUDSm1bRvf{
    color: rgb(112, 84, 159);
}
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K ._2m_orETo6AghzAnc0sISCt .MZPxEZcxAGtPDf1NYtouS{
    color: rgba(213, 213, 255, 0.608);
}

 ._3qDWQGB0rtwM3qpXTb11Q- svg polyline{
    stroke: rgb(146, 122, 186);
}

.uE7Pj4tb2n3_Bx4vjEX0a .SVGIcon_Arrow polyline{
    stroke: rgb(255, 186, 249);
}
.uE7Pj4tb2n3_Bx4vjEX0a:hover .SVGIcon_Arrow{
    background-color: #3e2a74;
}
._23SnllqT_AqZ1C_QHcNQ4Z._2Ho8z58cxQIJljp55uGkdt,._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._1Gjk27xaRIzt2zOSwOSP0N
,._3yTl3RiWfo-Itg-xp967wP ._39ZurKJQex6v69aXzvc_nj
{
       background-color: #1a0c43;
}

._3xRRJfD2xy95i9NhJxLTp0 *::-webkit-scrollbar-thumb, ._1UOkn2fGQ25jnyqcEJbnlo::-webkit-scrollbar-thumb 
,._3xRRJfD2xy95i9NhJxLTp0 *::-webkit-scrollbar-thumb, ._1UOkn2fGQ25jnyqcEJbnlo::-webkit-scrollbar-thumb{
    width: 4px;
    border: 3px solid transparent;
    background-image: none;
    background-color: #ffaff4;
}

._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1MAuQug6YmX05JxGIy637e svg path, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1MAuQug6YmX05JxGIy637e svg line, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1MAuQug6YmX05JxGIy637e svg polyline, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1MAuQug6YmX05JxGIy637e svg circle
, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1MAuQug6YmX05JxGIy637e svg path, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1MAuQug6YmX05JxGIy637e svg line, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1MAuQug6YmX05JxGIy637e svg polyline, ._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1MAuQug6YmX05JxGIy637e svg circle{
    stroke: rgb(42, 38, 60);
}
._1ZS_xta5HMXzR8JgxDH6n7 ._1PgAonvorr0o_NMxNKiDFU ._3mzKdQXht__YHo6PX1LmB6._1MAuQug6YmX05JxGIy637e svg{
    fill: rgb(42, 38, 60);
}
._20QAC4WMXm8qFE8waUT5oo .vCCmYvn9yQ_V8CpKupllU._1Gjk27xaRIzt2zOSwOSP0N ._1TxHdzOt3OD9ikR3xIseKe svg path {
    fill: #62498b;
}

[class="_2ns4wnmgr4XBzARpwn2NZ1"]
{
._25YVDTaClw6Y2COPsU0UaV ._1FnTqlsi2_-TJf1d5apoS6 {
    background-color: none;
    background: none;
    background-image: linear-gradient(var(--rotate), rgb(255, 244, 188), rgb(255, 239, 161));
    border: 0;
    background-size: 220% 220%;
    animation: rotate-gradient 19s cubic-bezier(.29, .44, .67, .56) infinite;
}
}



.NZMJ6g2iVnFsOOp-lDmIP.NZMJ6g2iVnFsOOp-lDmIP{
    background-color: rgba(106, 0, 255, 0.139);
}
.RPcyJMJC7chgPFkD4KWtO._2feGA5T49Nk1_dTnwfOnL,._2-kDc3UDR-GN6V1lBpSupb, ._3UShzJcf4CyVupLSI3kqfD{
    border-color: rgba(205, 158, 227, 0.295);
}
._3QS6OBHpvI5bXsSQA2zQuW{
    background-color: #1b1143;
}
._-85o5-M_cGo-fefOuWwER ._1dJuvQ4rvlB0q8vmLJH3l2
{
    background: #060220;
}
._3yTl3RiWfo-Itg-xp967wP ._39ZurKJQex6v69aXzvc_nj:hover ,.DY4_wSF8h9T5o46hO5I9V ._1b6LYWVijW-9E4YV0keDWZ:hover{
    background-color: rgba(105, 75, 160, 0.635);
  
}
._3lRfTo8Wo3phXfE1DvK6QW:hover,._3LKQ3S_yqrebeNLF6aeiog:hover,.DesktopUI .title-area-icon:hover, .friendsui-container .title-area-icon:hover
{
     background: rgba(105, 75, 160, 0.635);
}
.DesktopUI .title-area-icon.closeButton:hover, .friendsui-container .title-area-icon.closeButton:hover{
    background: #ff26be;
}