._3pofGqV0buiKAfMPEs3_82{
    background: #0000;
    background-image: none;
    background-color: rgb(225, 182, 255);
    color: black;
 
}
.DesktopUI ._1n7Wloe5jZ6fSuvV18NNWI, ._3qIuY9S_vXm3IQS-uE9SRS ._1n7Wloe5jZ6fSuvV18NNWI {
    color: black;
    font-weight: 500;
}
._2jXHP0742MyApMUVUM8IFn._2uiDecKkKjAq7nimy3uLhG:hover{
    background-color: rgb(192, 150, 255);
    color: black
}
._1bGewp3tfzqAF6fVTFFUOz .UkR3sY319PuaUNuUWks2K{
    background: rgb(1, 0, 16);
}